# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE settings
.idea/
.vscode/
*.swp

# Downloads and temp files
Downloads/
Temp/

# Local output artifacts
*.mp4
*.m4a
*.mkv
*.srt
*.ass
*.vtt
*.jpg
*.png

# Environment files
.env

# Session files
*.session
*.session-journal
.crunchyroll_tokens/

# Log files
*.log
error.txt

# WVD license file
*.wvd
